@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-component {
	@apply flex w-full flex-col items-center justify-center rounded-none shadow-none md:max-w-2xl md:flex-row md:rounded-4xl md:shadow-2xl;
}

.results-section {
	@apply -mt-10 flex w-full flex-col items-center justify-center space-y-4 rounded-b-4xl bg-gradient-to-b from-gradient-lightSlateBlue to-gradient-lightRoyalBlue p-16 text-center md:mt-0 md:w-1/2 md:rounded-4xl;
}

.rounded-rating {
	@apply h-40 w-40 rounded-full bg-gradient-to-b from-gradient-violetBlue to-gradient-persianBlue p-12;
}

.single-stat {
	@apply flex w-full items-center justify-between rounded-lg bg-neutral-paleBlue p-4 text-sm font-semibold;
}

.inner-div-one {
	@apply flex gap-2;
}

.cta-button {
	@apply mt-6 w-full rounded-full bg-neutral-darkGrayBlue py-3 text-center font-semibold text-neutral-white transition-colors duration-200 hover:bg-gradient-to-r hover:from-gradient-lightSlateBlue hover:to-gradient-lightRoyalBlue active:scale-95;
}

svg {
	z-index: 20;
}

#loading-screen {
	position: fixed;
	z-index: 10;
	height: 15em;
	width: 15em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#loading-screen:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(42, 32, 126, 0.8), rgba(0, 0, 0, 0.8));
	background: -webkit-radial-gradient(rgba(45, 71, 156, 0.8), rgba(0, 0, 0, 0.8));
}
